---
version: 2.1
jobs:
  build-and-test:
    docker:
      - image: cimg/node:18.19
    working_directory: ~/pricectl
    steps:
      - checkout
      - run:
          name: Install pnpm
          command: sudo npm install -g pnpm@8
      - restore_cache:
          keys:
            - v1-pnpm-{{ checksum "pnpm-lock.yaml" }}
            - v1-pnpm-
      - run:
          name: Install dependencies
          command: pnpm install --frozen-lockfile
      - save_cache:
          key: v1-pnpm-{{ checksum "pnpm-lock.yaml" }}
          paths:
            - node_modules
            - ~/.local/share/pnpm/store
      - run:
          name: Build
          command: pnpm build
      - run:
          name: Lint
          command: pnpm lint
      - run:
          name: Test
          command: pnpm test

  node-20:
    docker:
      - image: cimg/node:20.11
    working_directory: ~/pricectl
    steps:
      - checkout
      - run:
          name: Install pnpm
          command: sudo npm install -g pnpm@8
      - restore_cache:
          keys:
            - v1-pnpm-node20-{{ checksum "pnpm-lock.yaml" }}
            - v1-pnpm-node20-
      - run:
          name: Install dependencies
          command: pnpm install --frozen-lockfile
      - save_cache:
          key: v1-pnpm-node20-{{ checksum "pnpm-lock.yaml" }}
          paths:
            - node_modules
            - ~/.local/share/pnpm/store
      - run:
          name: Build
          command: pnpm build
      - run:
          name: Test
          command: pnpm test

workflows:
  pricectl:
    jobs:
      - build-and-test
      - node-20
