version: 2.1

orbs:
  node: circleci/node@7

workflows:
  ci:
    jobs:
      - node/run:
          name: lint
          pkg-manager: pnpm
          pnpm-run: lint
          setup:
            - run:
                name: Install pnpm via corepack
                command: corepack enable && corepack prepare --activate
      - node/test:
          name: test-node-18
          pkg-manager: pnpm
          executor:
            name: node/default
            tag: '18.20'
          setup:
            - run:
                name: Install pnpm via corepack
                command: corepack enable && corepack prepare --activate
          post_install_steps:
            - run: pnpm build
          test-results-for: jest
      - node/test:
          name: test-node-20
          pkg-manager: pnpm
          executor:
            name: node/default
            tag: '20.11'
          setup:
            - run:
                name: Install pnpm via corepack
                command: corepack enable && corepack prepare --activate
          post_install_steps:
            - run: pnpm build
          test-results-for: jest
